.vscode
DiskLockerWindows/DiskLockerWinAPI.exe
DiskLockerWindows/disk_locker.exe
DiskLockerWindows/DiskLocker.exe
NetworkCheck/network_check.exe
TaskManagerRegistryControlWindows/TaskManagerAndRegistryControl.exe
TaskManagerRegistryControlWindows/TaskManagerRegistryBlocker.exe